/* Step 1*/
@keyframes animateLogo {
    0% {
        width: 25px;
        opacity: 0;
    }
    100% {
        width: 475px;
        opacity: 1;
    }
}

/* Apply animation to the logo */
#logo {
    animation: animateLogo 5s ease forwards; /* Trigger animation */
}

/* Step 2*/
body{
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}
/* Step 3*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Step 7*/
.card{
    flex-basis: 450px;
    border-radius: 50px 50px 0 0;
}
/* Step 8*/
.pricing{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
/* Step 4*/
.nav_links{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
/* Step 5*/
a:link,
a:visited {
    color: #0110de; 
}
/* Step 6*/
.card>header{
   background-color: #288088;
   border: 2px solid #45ADAD;
   padding: 20px 0;
   border-radius: 50px 50px 0 0; 
}
.gallery>img{
   border: 10px solid #50C7C7;
   margin: 10px;
   width: 300px;
}
.gallery{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
/* Step 11 and 12 */
@media only screen and (min-width: 900px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        position: sticky;
    }
    .nav_links{
        display: flex;
        flex-flow: row wrap;
    }
    .card{
        flex-basis: 275px;
    }
    .pricing{
        align-items: center;
    }
    body>header{
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}
@media all and (prefers-reduced-motion:reduced){
#logo{
    animation: none; /* No animation for users who prefer reduced motion */
    width: 475px;
    opacity: 1;
}
}

@media print {
    body>header{
        align-items: center;
    }
    .nav_links{
        flex-flow: row wrap;
        justify-content: space-between;
    }
    body{
        font-family: Arial, Helvetica;
        background-image: none;
    }
    .pricing{
        align-items: flex-end;
    }
    .card{
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }
    #gallery, .gallery{
        display: none;
    }
    .card ul li:nth-child(2)::after {
        content: '👍';  /* Insert thumbs-up emoji */
        margin-right: 8px;  /* Add space between emoji and text */
        font-size: 1.2em;  /* Adjust size if needed */
    }
}